{:paths ["src" "resources"]
 :deps  {org.clojure/clojure        {:mvn/version "1.10.3"}
         cljplot/cljplot            {:mvn/version "0.0.2a-SNAPSHOT"}
         hyperfiddle/rcf            {:git/url "https://github.com/hyperfiddle/rcf.git"
                                     :sha     "f723cae54e9b7540adfcd34fa99cf138995ff5e5"}
         mastodonc/kixi.large       {:local/root "../kixi.large"}
         techascent/tech.ml.dataset {:mvn/version "6.031"}
         scicloj/tablecloth         {:mvn/version "6.031"
                                     :exclusions  [#_techascent/tech.ml.dataset
                                                   org.apache.poi/poi-ooxml-schemas
                                                   org.apache.poi/poi
                                                   org.apache.poi/poi-ooxml]}}}
