{:paths ["src" "resources"]
 :deps  {org.clojure/clojure                            {:mvn/version "1.10.3"}
         generateme/fastmath                            {:mvn/version "2.1.8"}
         cljplot/cljplot                                {:mvn/version "0.0.2a-SNAPSHOT"}
         hyperfiddle/rcf                                {:git/url "https://github.com/hyperfiddle/rcf.git"
                                                         :sha     "f723cae54e9b7540adfcd34fa99cf138995ff5e5"}
         techascent/tech.ml.dataset                     {:mvn/version "6.098"}
         scicloj/tablecloth                             {:mvn/version "6.094.1"
                                                         :exclusions  [techascent/tech.ml.dataset
                                                                       org.apache.poi/poi-ooxml-schemas
                                                                       org.apache.poi/poi
                                                                       org.apache.poi/poi-ooxml]}
         org.apache.parquet/parquet-hadoop              {:mvn/version "1.12.0"
                                                         :exclusions  [org.slf4j/slf4j-log4j12]}
         org.apache.hadoop/hadoop-common                {:mvn/version "3.3.0"
                                                         :exclusions  [org.slf4j/slf4j-log4j12]}
         org.apache.hadoop/hadoop-mapreduce-client-core {:mvn/version "3.3.0"
                                                         :exclusions  [org.slf4j/slf4j-log4j12]}}}
